#include <windows.h>

VS_VERSION_INFO VERSIONINFO
    PRODUCTVERSION   0,4,0
    FILEVERSION	     0,4,0
    FILEOS		     VOS_NT_WINDOWS32
#ifdef BLGPVK_LIB_STATIC
    FILETYPE	     VFT_STATIC_LIB
#else
    FILETYPE	     VFT_DLL
#endif
    FILEFLAGSMASK    VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
    FILEFLAGS	     VS_FF_DEBUG
#endif

    BEGIN
        BLOCK TEXT("StringFileInfo")
        BEGIN
            BLOCK "040904b0" // en-US (Unicode)
            BEGIN
                VALUE "FileDescription", "ASN.1 DER Library"
                VALUE "FileVersion", "0.4.0"
                VALUE "OriginalFilename", "BlgAsn1.dll"
                VALUE "InternalName", "BlgAsn1"
                VALUE "ProductName", "ASN.1 DER Library"
                VALUE "ProductVersion", "0.4.0"
                VALUE "CompanyName", "Can Balioglu"
                VALUE "LegalCopyright", "Copyright © 2006 Can Balioglu. All rights reserved."
                VALUE "Comments", "http://canbalioglu.com"
            END
        END

        BLOCK TEXT("VarFileInfo")
        BEGIN
            VALUE "Translation", 0x0409, 1200 // en-US (Unicode)
        END
    END